In [49]:
# The code was removed by Watson Studio for sharing.

In [93]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')
from IPython.display import display

In [95]:
# The code was removed by Watson Studio for sharing.

In [94]:
body = client_57b5eb6e7b5d4b90a8e83736129c9010.get_object(Bucket='crimeprediction-donotdelete-pr-8fcnvmlkxwdbol',Key='Chicago_Crimes_2005_to_2007.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

cdata05_07 = pd.read_csv(body,error_bad_lines=False)
cdata05_07.head()

b'Skipping line 533719: expected 23 fields, saw 24\n'

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,4673626,HM274058,04/02/2006 01:00:00 PM,055XX N MANGO AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,45.0,11.0,26,1136872.0,1936499.0,2006,04/15/2016 08:55:02 AM,41.981913,-87.771996,"(41.981912692, -87.771996382)"
1,1,4673627,HM202199,02/26/2006 01:40:48 PM,065XX S RHODES AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,SIDEWALK,True,...,20.0,42.0,18,1181027.0,1861693.0,2006,04/15/2016 08:55:02 AM,41.775733,-87.611920,"(41.775732538, -87.611919814)"
2,2,4673628,HM113861,01/08/2006 11:16:00 PM,013XX E 69TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,OTHER,False,...,5.0,69.0,04A,1186023.0,1859609.0,2006,04/15/2016 08:55:02 AM,41.769897,-87.593671,"(41.769897392, -87.593670899)"
3,4,4673629,HM274049,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,...,38.0,17.0,08B,1134772.0,1922299.0,2006,04/15/2016 08:55:02 AM,41.942984,-87.780057,"(41.942984005, -87.780056951)"
4,5,4673630,HM187120,02/17/2006 09:03:14 PM,037XX W 60TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,...,13.0,65.0,18,1152412.0,1864560.0,2006,04/15/2016 08:55:02 AM,41.784211,-87.716745,"(41.784210853, -87.71674491)"

In [52]:
body = client_57b5eb6e7b5d4b90a8e83736129c9010.get_object(Bucket='crimeprediction-donotdelete-pr-8fcnvmlkxwdbol',Key='Chicago_Crimes_2008_to_2011.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

cdata08_11 = pd.read_csv(body,error_bad_lines=False)
cdata08_11.head()

b'Skipping line 1149094: expected 23 fields, saw 41\n'

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,388,4785,HP610824,10/07/2008 12:39:00 PM,000XX E 75TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,...,6.0,69.0,01A,1178207.0,1855308.0,2008,08/17/2015 03:03:40 PM,41.758276,-87.622451,"(41.758275857, -87.622451031)"
1,835,4786,HP616595,10/09/2008 03:30:00 AM,048XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,24.0,25.0,01A,1144200.0,1895857.0,2008,08/17/2015 03:03:40 PM,41.870252,-87.746069,"(41.87025207, -87.746069362)"
2,1334,4787,HP616904,10/09/2008 08:35:00 AM,030XX W MANN DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,False,...,18.0,66.0,01A,1157314.0,1859778.0,2008,08/17/2015 03:03:40 PM,41.770990,-87.698901,"(41.770990476, -87.698901469)"
3,1907,4788,HP618616,10/10/2008 02:33:00 AM,052XX W CHICAGO AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RESTAURANT,False,...,37.0,25.0,01A,1141065.0,1904824.0,2008,08/17/2015 03:03:40 PM,41.894917,-87.757358,"(41.894916924, -87.757358147)"
4,2436,4789,HP619020,10/10/2008 12:50:00 PM,026XX S HOMAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,...,22.0,30.0,01A,1154123.0,1886297.0,2008,08/17/2015 03:03:40 PM,41.843826,-87.709893,"(41.843826272, -87.709893465)"

In [53]:
body = client_57b5eb6e7b5d4b90a8e83736129c9010.get_object(Bucket='crimeprediction-donotdelete-pr-8fcnvmlkxwdbol',Key='Chicago_Crimes_2012_to_2017.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

cdata12_17 = pd.read_csv(body)
cdata12_17.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"

In [54]:
crimes05_17 = pd.concat([cdata05_07, cdata08_11, cdata12_17], axis=0)
print("Dataset from 05 to 07 is:", cdata05_07.shape)
print("Dataset from 05 to 07 is:", cdata08_11.shape)
print("Dataset from 05 to 07 is:", cdata12_17.shape)

Dataset from 05 to 07 is: (1872343, 23)
Dataset from 05 to 07 is: (2688710, 23)
Dataset from 05 to 07 is: (1456714, 23)

In [55]:
print ("data before find duplication:", crimes05_17.shape)
crimes05_17.drop_duplicates(subset=['ID', 'Case Number'], inplace=True)
print ("data after find duplication:", crimes05_17.shape)
crimes05_17.head()

data before find duplication: (6017767, 23)
data after find duplication: (4336556, 23)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,4673626,HM274058,04/02/2006 01:00:00 PM,055XX N MANGO AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,45.0,11.0,26,1136872.0,1936499.0,2006,04/15/2016 08:55:02 AM,41.981913,-87.771996,"(41.981912692, -87.771996382)"
1,1,4673627,HM202199,02/26/2006 01:40:48 PM,065XX S RHODES AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,SIDEWALK,True,...,20.0,42.0,18,1181027.0,1861693.0,2006,04/15/2016 08:55:02 AM,41.775733,-87.611920,"(41.775732538, -87.611919814)"
2,2,4673628,HM113861,01/08/2006 11:16:00 PM,013XX E 69TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,OTHER,False,...,5.0,69.0,04A,1186023.0,1859609.0,2006,04/15/2016 08:55:02 AM,41.769897,-87.593671,"(41.769897392, -87.593670899)"
3,4,4673629,HM274049,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,...,38.0,17.0,08B,1134772.0,1922299.0,2006,04/15/2016 08:55:02 AM,41.942984,-87.780057,"(41.942984005, -87.780056951)"
4,5,4673630,HM187120,02/17/2006 09:03:14 PM,037XX W 60TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,...,13.0,65.0,18,1152412.0,1864560.0,2006,04/15/2016 08:55:02 AM,41.784211,-87.716745,"(41.784210853, -87.71674491)"

In [57]:
## Date formatting

In [56]:
crimes05_17.Date = pd.to_datetime(crimes05_17.Date, format='%m/%d/%Y %I:%M:%S %p')

In [58]:
## select features to follow

In [59]:
features = pd.DataFrame(columns = ["Date", "Primary Type", "Location Description", "Community Area", "Beat", "District", "Ward"])
feat_value = crimes05_17[["Date", "Primary Type", "Location Description", "Community Area", "Beat", "District", "Ward"]]

In [60]:
print ("selected features are:", feat_value.info())
print ("the number of crime from 05_17 is:", feat_value.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4336556 entries, 0 to 1456713
Data columns (total 7 columns):
Date                    datetime64[ns]
Primary Type            object
Location Description    object
Community Area          float64
Beat                    int64
District                float64
Ward                    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 264.7+ MB
selected features are: None
the number of crime from 05_17 is: (4336556, 7)

In [62]:
## check NULLs

In [63]:
null_col=feat_value.columns[feat_value.isnull().any()].tolist()
null_col
#fea_value2 = fea_value.dropna(axis=0)

['Location Description', 'Community Area', 'District', 'Ward']

In [64]:
percent_missing =feat_value[null_col].isnull().sum() * 100 / len(feat_value)
percent_missing

Location Description    0.045013
Community Area          0.026058
District                0.001084
Ward                    0.001430
dtype: float64

In [65]:
feat_value=feat_value.dropna(axis=0)

In [66]:
feat_value.columns[feat_value.isnull().any()].tolist()

[]

In [67]:
## index date column

In [68]:
feat_value.index = pd.DatetimeIndex(feat_value.Date)

In [69]:
print ("possible places are:", feat_value['Location Description'].value_counts().head(20))
print ("primary types are:", feat_value['Primary Type'].value_counts().head(20))

possible places are: STREET                            1079296
RESIDENCE                          713676
APARTMENT                          489189
SIDEWALK                           482100
OTHER                              158189
PARKING LOT/GARAGE(NON.RESID.)     120633
ALLEY                               97834
SCHOOL, PUBLIC, BUILDING            90697
RESIDENCE-GARAGE                    84844
VEHICLE NON-COMMERCIAL              77988
SMALL RETAIL STORE                  75925
RESIDENCE PORCH/HALLWAY             74724
RESTAURANT                          65752
RESIDENTIAL YARD (FRONT/BACK)       56574
DEPARTMENT STORE                    53256
GROCERY FOOD STORE                  50266
GAS STATION                         45810
PARK PROPERTY                       34227
COMMERCIAL / BUSINESS OFFICE        27548
BAR OR TAVERN                       24763
Name: Location Description, dtype: int64
primary types are: THEFT                               906811
BATTERY                             777960
CRIMINAL DAMAGE                     499254
NARCOTICS                           473690
OTHER OFFENSE                       264135
BURGLARY                            264007
ASSAULT                             260769
MOTOR VEHICLE THEFT                 196776
DECEPTIVE PRACTICE                  168946
ROBBERY                             165685
CRIMINAL TRESPASS                   122953
WEAPONS VIOLATION                    44322
PROSTITUTION                         40866
PUBLIC PEACE VIOLATION               35015
OFFENSE INVOLVING CHILDREN           29854
CRIM SEXUAL ASSAULT                  17068
SEX OFFENSE                          14667
INTERFERENCE WITH PUBLIC OFFICER     11242
GAMBLING                              9920
LIQUOR LAW VIOLATION                  8276
Name: Primary Type, dtype: int64

In [70]:
## label encode primary type of crime

In [71]:
primary_type = preprocessing.LabelEncoder()

In [72]:
feat_value.loc[:, 'Primary Type in number'] = primary_type.fit_transform(feat_value['Primary Type'])
print ("labels for primary types are:", feat_value['Primary Type in number'].value_counts().head(20))

labels for primary types are: 32    906811
2     777960
6     499254
17    473690
24    264135
3     264007
1     260769
16    196776
8     168946
29    165685
7     122953
33     44322
25     40866
27     35015
22     29854
5      17068
30     14667
12     11242
9       9920
15      8276
Name: Primary Type in number, dtype: int64

In [73]:
## one hot encode

In [76]:
feat_onehotcode = feat_value['Primary Type'].astype(str).str.get_dummies()

In [75]:
#set labels for time in a day
feat_value['hour'] = feat_value.index.hour
feat_value['min'] = feat_value.index.minute
feat_value["Business Hour"] =np.where(feat_value['hour'].between(9,17), 1, 0)
#set labels for day of the week
feat_value['Day of Week'] = feat_value.index.dayofweek
feat_value["Business Day"] =np.where(feat_value['Day of Week'].between(0,4), 1, 0)
#set day of a month
feat_value['Day of Month']= feat_value.index.day

In [77]:
#set labels for crime spaces
location = feat_value['Location Description']

In [78]:
feat_value.loc[:, 'Location Description Number'] =np.where(location.str.contains('RESIDEN')
                                                      |location.str.contains('APARTMENT'), 1,
                                                  np.where(location.str.contains('STREET')
                                                      |location.str.contains('ALLEY')
                                                      |location.str.contains('SIDEWALK')
                                                      |location.str.contains('LOT')
                                                      |location.str.contains('PARK')
                                                      |location.str.contains('STATION')
                                                      |location.str.contains('PUBLIC')
                                                      |location.str.contains('PLATFORM'), 2,
                                                  np.where(location.str.contains('STORE')
                                                       |location.str.contains('RESTAURANT')
                                                       |location.str.contains('SCHOOL')
                                                       |location.str.contains('BUILDING')
                                                       |location.str.contains('BAR')
                                                       |location.str.contains('OFFICE')
                                                       |location.str.contains('BUS')
                                                       |location.str.contains('BANK')
                                                       |location.str.contains('HOTEL')
                                                       |location.str.contains('TRAIN')
                                                        |location.str.contains('VEHICLE'), 3, 0)))

In [79]:
#0: OTHER
#1: APARTMENT, RESINDENCE
#2: OPEN/PUBLIC SPACES (STREET,ALLEY,SIDEWALK,LOT,PARK,STATION,PUBLIC,PLATFORM)
#3: CLOSED/CORPORATE PLACES (STORE, RESTUARENT, SCHOOL, BUILDING, BAR, OFFICE, BUS, BANK, HOTEL, TRAIN, VEHICLE) 
feat_value['Location Description Number'].value_counts()

2    2050562
1    1448740
3     556848
0     277220
Name: Location Description Number, dtype: int64

In [80]:
feat_value['Location Description Number'].head(20)

Date
2006-04-02 13:00:00    1
2006-02-26 13:40:48    2
2006-01-08 23:16:00    0
2006-04-05 18:45:00    1
2006-02-17 21:03:14    2
2006-03-30 22:30:00    1
2006-04-05 12:10:00    2
2006-04-05 15:00:00    2
2006-04-05 21:30:00    2
2006-04-03 03:00:00    2
2006-04-06 11:15:00    2
2006-04-04 20:15:00    0
2006-04-06 11:30:00    2
2006-02-26 14:47:21    2
2006-04-03 20:09:00    2
2006-02-17 21:26:33    2
2006-04-05 08:00:00    2
2006-03-31 08:20:00    1
2006-04-05 13:30:00    2
2006-03-31 05:00:00    2
Name: Location Description Number, dtype: int64

In [81]:
selected_features = feat_value[["Date", "Primary Type in number", "Location Description Number",
                                "Community Area", "hour", "Day of Week", "Business Hour", "Business Day",
                                "Day of Month", "Beat", "District", "Ward"]]

In [82]:
selected_features = pd.concat([feat_onehotcode, selected_features], axis=1)

In [83]:
selected_features.head()

,ARSON,ASSAULT,BATTERY,BURGLARY,CONCEALED CARRY LICENSE VIOLATION,CRIM SEXUAL ASSAULT,CRIMINAL DAMAGE,CRIMINAL TRESPASS,DECEPTIVE PRACTICE,GAMBLING,...,Location Description Number,Community Area,hour,Day of Week,Business Hour,Business Day,Day of Month,Beat,District,Ward
Date,,,,,,,,,,,,,,,,,,,,,
2006-04-02 13:00:00,0,0,0,0,0,0,0,0,0,0,...,1,11.0,13,6,1,0,2,1622,16.0,45.0
2006-02-26 13:40:48,0,0,0,0,0,0,0,0,0,0,...,2,42.0,13,6,1,0,26,321,3.0,20.0
2006-01-08 23:16:00,0,1,0,0,0,0,0,0,0,0,...,0,69.0,23,6,0,0,8,321,3.0,5.0
2006-04-05 18:45:00,0,0,1,0,0,0,0,0,0,0,...,1,17.0,18,2,0,1,5,1633,16.0,38.0
2006-02-17 21:03:14,0,0,0,0,0,0,0,0,0,0,...,2,65.0,21,4,0,1,17,822,8.0,13.0

In [86]:
selected_features = selected_features[selected_features["Location Description Number"] != 0]

In [87]:
selected_features["Location Description Number"].value_counts()

2    2050562
1    1448740
3     556848
Name: Location Description Number, dtype: int64

In [88]:
selected_features.head()

,ARSON,ASSAULT,BATTERY,BURGLARY,CONCEALED CARRY LICENSE VIOLATION,CRIM SEXUAL ASSAULT,CRIMINAL DAMAGE,CRIMINAL TRESPASS,DECEPTIVE PRACTICE,GAMBLING,...,Location Description Number,Community Area,hour,Day of Week,Business Hour,Business Day,Day of Month,Beat,District,Ward
Date,,,,,,,,,,,,,,,,,,,,,
2006-04-02 13:00:00,0,0,0,0,0,0,0,0,0,0,...,1,11.0,13,6,1,0,2,1622,16.0,45.0
2006-02-26 13:40:48,0,0,0,0,0,0,0,0,0,0,...,2,42.0,13,6,1,0,26,321,3.0,20.0
2006-04-05 18:45:00,0,0,1,0,0,0,0,0,0,0,...,1,17.0,18,2,0,1,5,1633,16.0,38.0
2006-02-17 21:03:14,0,0,0,0,0,0,0,0,0,0,...,2,65.0,21,4,0,1,17,822,8.0,13.0
2006-03-30 22:30:00,0,1,0,0,0,0,0,0,0,0,...,1,67.0,22,3,0,1,30,734,7.0,17.0

In [1]:
## save features data in cloud object storage file system

In [90]:
project.save_data("selected_features_2005_to_2017.csv", selected_features.to_csv(),overwrite=True)

{'asset_id': 'e6a20e10-06c6-4375-a12d-e2c3c33885c3',
 'bucket_name': 'crimeprediction-donotdelete-pr-8fcnvmlkxwdbol',
 'file_name': 'selected_features_2005_to_2017.csv',
 'message': 'File selected_features_2005_to_2017.csv has been written successfully to the associated OS'}

In [92]:
crimes_2017 = feat_value.loc['2017']
crimes_2017.head()

,Date,Primary Type,Location Description,Community Area,Beat,District,Ward,Primary Type in number,hour,min,Business Hour,Day of Week,Business Day,Day of Month,Location Description Number
Date,,,,,,,,,,,,,,,
2017-01-01 01:00:00,2017-01-01 01:00:00,BATTERY,BAR OR TAVERN,8.0,1824,18.0,42.0,2,1,0,0,6,0,1,3
2017-01-01 01:23:00,2017-01-01 01:23:00,PUBLIC PEACE VIOLATION,SIDEWALK,71.0,613,6.0,21.0,27,1,23,0,6,0,1,2
2017-01-01 00:01:00,2017-01-01 00:01:00,CRIMINAL DAMAGE,RESIDENCE,42.0,314,3.0,5.0,6,0,1,0,6,0,1,1
2017-01-01 00:00:00,2017-01-01 00:00:00,CRIMINAL DAMAGE,STREET,69.0,324,3.0,5.0,6,0,0,0,6,0,1,2
2017-01-01 00:00:00,2017-01-01 00:00:00,BATTERY,APARTMENT,68.0,722,7.0,20.0,2,0,0,0,6,0,1,1